* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ZombieHolocaust';
    src: url(../fonts/ZombieHolocaust.ttf);
}


/* Butcherman-Regular used for Paragraph Text */

@font-face {
    font-family: 'Butcherman';
    src: url(../fonts/Butcherman-Regular.ttf);
}


/* youmurdererbb_reg used for Paragraph Text */

@font-face {
    font-family: 'youmurdererbb';
    src: url(../fonts/youmurdererbb_reg.ttf);
}


/* Hell Raiser used for Paragraph Text */

@font-face {
    font-family: 'Hellraiser';
    src: url(../fonts/HellraiserBloody.ttf);
}


/* Creepster used for Paragraph Text */

@font-face {
    font-family: 'Creepster';
    src: url(../fonts/Creepster-Regular.ttf);
}


/* Nemo Nightmares used for Paragraph Text */

@font-face {
    font-family: 'NemoNightmares';
    src: url(../fonts/NemoNightmares.ttf);
}


/* GypsyCurse will be used for anything unique */

@font-face {
    font-family: 'GypsyCurse';
    src: url(../fonts/GypsyCurse.ttf);
}


/* shloprg used for Headers */

@font-face {
    font-family: 'shloprg';
    src: url(../fonts/shloprg.otf) format("opentype");
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/* -------------------------- Navbar -------------------------------------------------  */

.navbar {
    background: rgb(0, 0, 0);
}

.navbar a {
    font-family: 'shloprg', sans-serif;
    font-size: 1.2rem;
    color: #364e43;
}

.navbar a:hover {
    color: #702525;
}

.navbar-toggler:focus {
    box-shadow: none;
}


/* .navbar-brand {
  padding-right: 500px;
} */

ul {
    justify-content: right;
    flex-grow: 1;
    flex-direction: row;
    gap: 100px;
}

.custom-toggler.navbar-toggler {
    border-color: #364e43;
    color: #364e43;
    background-color: #364e43;
    border: 2px solid #1d362b;
}

.webgl {
    position: fixed;
    /* top: 0;
    left: 0; */
    outline: none;
    top: 50px;
}

.c {
    display: flex;
    justify-content: center;
}

.descriptionBox {
    position: fixed;
    width: 580px;
    height: 780px;
    background: rgba(0, 0, 0, 0.80);
    left: 50px;
    top: 100px;
    border-radius: 20px 20px;
    text-align: left;
    z-index: 1;
    padding: 0 50px;
}

h1 {
    color: #970000;
    font-family: 'youmurdererbb', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 0px;
    justify-content: center;
    text-align: center;
}

p {
    font-size: medium;
    color: #ffdede;
    margin-top: -10px;
}

.tab {
    padding-left: 2em;
}